html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto minmax(50%, 1fr) auto;
}

body > div {
	padding: 2em;
}

#content {
	margin: auto;
	max-width: 50em;
}
