* {
	box-sizing: border-box;
	font-family: "Times New Roman", serif;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
	overflow: auto;
}

header {
	background-color: #202020;
	color: #ffffff;
	padding: 1em;
	display: flex;
	align-items: center;
}

header * {
	display: inline-block;
}

header > * {
	padding: 0 0.5em;
}

header a {
	color: #d0d0d0;
	text-decoration: none;
	border-radius: 0.5em;
	padding: 0.5em 1em;
}

header a:hover {
	background-color: #ffffff20;
	cursor: pointer;
}

header a:active {
	background-color: #ffffff40;
}

.content {
	overflow: auto;
}

#container {
	display: grid;
	grid-template-columns: minmax(min-content, 1fr) minmax(0, 50em) minmax(min-content, 1fr);
}

#container > div {
	padding: 2em;
}

.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ad {
	padding: 0.5em 0.5em 0 0.5em;
	border: 1px solid #c0c0c0;
	display: flex;
	flex-direction: column;
	width: min-content;
}

.ad > img {
	width: 400px;
	height: 300px;
}

.ad > p {
	width: 400px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 1em;
}

@keyframes fadein {
	from {
		opacity: 0;
		visibility: hidden;
	}
	to {
		opacity: 1;
		visibility: visible;
	}
}

.popup {
	background-color: #00000080;
	animation: 0.5s linear 0s fadein;
	animation-fill-mode: both;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}

.popup > section {
	padding: 2em;
	background-color: #ffffff;
	animation: 0.5s linear 0.5s fadein;
	animation-fill-mode: both;
	max-width: min(30em, 90%);
}

#popupsignup {
	display: none;
}

.button {
	border: none;
	background-color: #202020;
	color: #ffffff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border-radius: 0.5em;
	padding: 0.5em 1em;
	vertical-align: top;
	font-size: inherit;
}

.button:hover {
	background-color: #404040;
	cursor: pointer;
}

.button:active {
	background-color: #000000;
}

.actions {
	margin-top: 2em;
	text-align: center;
}

.actions > * {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

#texterror {
	color: #ff0000;
	display: none;
}

.form {
	max-width: 50em;
	margin: 2em auto;
	padding: 2em;
	background-color: #f0f0f0;
}

.form > p {
	text-align: initial;
}

label:not(input + label) {
	display: block;
}

input:not(input[type="checkbox"]), select {
	width: 20em;
	padding: 0.25em;
	font-size: inherit;
}
